{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <title>NDMC Library | Profile Form</title>
  <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/vnd.microsoft.icon">
  <link rel="stylesheet" href="{% static 'css/return.css' %}">
</head>
{% block content %}
{% include 'base.html'%}
<body>
  <div class="card"> 
    <h2 class="head"> Edit password </h2>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{form.as_p}}
      <input type="submit" class="btn btn-primary" value="Update">
    </form>
  </div>
{% endblock %}
</body>
{% include 'footer.html'%}
</html>
