{% load static from staticfiles %}
{% block content %} 
<!DOCTYPE html>
<html>
<head>
  <title>Borrowed Books</title>
  <link href="{% static 'css/user-book.css' %}" rel="stylesheet">
  <link href="{% static 'css/borrow.css' %}" rel="stylesheet">
  {% include 'base.html'%}  
</head>
<body>
  <div class="list">
    <form class='form' method='GET' action='.'>
      <input type='text' placeholder='Search..' name='q' value='{{ request.GET.q }}'>
      <button class='btn btn-default' type='submit'  >Search</button>
    </form>

            <h2 class="title">Reserve List :</h2>
    {% if prof %} 

      {% for prof in prof %}
        {% for book  in prof.borrow_set.all %} 
          {% if  book.reserve %}
          {% if not book.borrowed %}
            {% if not book.returned %}
            <div class="card">
                <h2 class="author"><a  class="link" href="{% url "books:borrowed" book.id %}">{{book.book}}</a></h2>
  
                <p class="book">Author : {{ book.book.author }} 
                <p class="book"><strong>Borrower : {{ book.borrower.last_name }} {{ book.borrower.first_name }}</strong>
                <button  type="button" class="buttons btn button btn-sign-in" onclick="location.href='{% url "books:borrowed"   book.id%}'" >
                <span>View Details</span>
          </button>  
             </div>
            {% endif %}
          {% endif %}
          {% endif %}
        {% endfor %}
      {% endfor %}
    {% endif %}
  </div>
</body>
</html>
{% include 'footer.html'%}
{% endblock content %}
