{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Almni Tracer | List</title>
    {% include 'snippets/css.html'%}
  <meta charset="utf-8">
  <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/vnd.microsoft.icon">
      <link rel="stylesheet" href="{% static 'css/navsnippets.css' %}">
        <link rel="stylesheet" href="{% static 'css/user.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/navsnippets.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  </head>
 <div class="page-wrapper chiller-theme toggled">
  <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
    <i class="fas fa-bars"></i>
  </a>
       {% include 'snippets/sidebar.html'%}
<body>
 <div class="players">
  <h2>Alumni Tracer | List</h2>
  <div class="header">
    <div class="player-number">ID Number</div>
    <div class="player-name">Name</div>
    <div class="player-city">City</div>
    <div class="player-country">Date Graduate</div>
    <div class="player-value">Department</div>
    <div class="player-stats">Course</div>
  </div>
      {% if user %}
      {% for qs in user %}
  <div class="player">

        <div class="player-number" data-title="Number: ">{{user.id_number }}</div>
        <div class="player-name" data-title="Name: "> 
        {{qs.user.last_name}} {{user.first_name}} </div>
        <div class="player-city" data-title="City: ">{{qs.a_street_adress }}, {{qs.a_address_line_2 }} {{qs.a_city}}</div>
        <div class="player-country" data-title="Country: ">{{qs.date_graduated}}</div>
        <div class="player-value" data-title="Value: ">{{qs.user.department }}</div>
        <div class="player-stats" data-title="Stats: ">1{{qs.user.course }}</div>
  </div>
        {% endfor %}
      {% else %}
        <p>Empty</p>
      {% endif %}  
            
</div>
    </div>
</div>
</body>
</body>
<script src="{% static 'js/alumni.js' %}"></script>
{% include 'snippets/js.html' %}
</html>
 