{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Almni Tracer | List</title>
    {% include 'snippets/css.html'%}
  <meta charset="utf-8">
  <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/vnd.microsoft.icon">
      <link rel="stylesheet" href="{% static 'css/navsnippets.css' %}">
        <link rel="stylesheet" href="{% static 'css/user.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/navsnippets.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  </head>
 <div class="page-wrapper chiller-theme toggled">
  <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
      <div class="sidebar-brand">
        <a href="#">Alumni Tracer | List </a>
        <div id="close-sidebar">
          <i class="fas fa-times"></i>
        </div>
      </div>

      <div class="sidebar-header">
      {% if user.is_authenticated %}
          {% if request.user.is_staff %}
        <div class="user-pic">
          <img class="img-responsive img-rounded" src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
            alt="User picture">
        </div>
        <div class="user-info">
          <span class="user-name">{{ user.first_name}}
            <strong> {{ user.last_name}}</strong>
          </span>
          <span class="user-role">Administrator</span>
          <span class="user-status">
            <i class="fa fa-circle"></i>
     
            <span>Online</span>
          </span>
        </div>
        {% else %}
        <div class="user-pic"><a href="{% url "user:detail" user.email %}">
          <img class="img-responsive img-rounded" src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
            alt="User picture"></a>
       	</div>
        <div class="user-info">
          <span class="user-name">{{ user.first_name}}
            <strong>{{ user.last_name}}</strong>
          </span>
         
          <span class="user-role">Students</span>
          <span class="user-status">
            <i class="fa fa-circle"></i>
     
            <span>Online</span>
          </span>
        </div>
                {% endif %}
       
        {% endif %}
      </div>
      <!-- sidebar-header  -->
      <div class="sidebar-search">
        <div>
                <form class='form' method='GET' action='.'>
          <div class="input-group">
            <input type="text" class="form-control search-menu" placeholder="Search..." name='q' value='{{ request.GET.q }}'>
            <div class="input-group-append">
              <span class="input-group-text">
                     <button class='fa fa-search' aria-hidden="false" type='submit'></button> 
              </span>
            </div>
          </div>
        </form>
        </div>
      </div>
      <div class="sidebar-menu">
        <ul>
          <li class="header-menu">
            <span>General</span>
          </li>
          <li class="sidebar-dropdown">
            <a href="{% url 'account:post' %}">
              <i class="fa fa-tachometer-alt"></i>
              <span>Alumni List</span>
            </a>

            <a href="#">
              <i class="fa fa-tachometer-alt"></i>
              <span> User </span> 
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a href="{% url "account:edit_profile" user.email %}">Edit Information  </a>
                </li>
                <li>
                  <a href="{% url "alumni:edit-form" user.email  %}">Edit Employment Information</a>
                </li>
                <li>
                  <a href="#">Change password </a>
                </li>
              </ul>
            </div>
          </li>
 
          <li class="sidebar-dropdown">
            <a href="#">
              <i class="far fa-gem"></i>
              <span>Components</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a href="#">General</a>
                </li>
                <li>
                  <a href="#">Panels</a>
                </li>
                <li>
                  <a href="#">Tables</a>
                </li>
                <li>
                  <a href="#">Icons</a>
                </li>
                <li>
                  <a href="#">Forms</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="sidebar-dropdown">
            <a href="#">
              <i class="fa fa-chart-line"></i>
              <span>Charts</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a href="#">Pie chart</a>
                </li>
                <li>
                  <a href="#">Line chart</a>
                </li>
                <li>
                  <a href="#">Bar chart</a>
                </li>
                <li>
                  <a href="#">Histogram</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="sidebar-dropdown">
            <a href="#">
              <i class="fa fa-globe"></i>
              <span>Maps</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a href="#">Google maps</a>
                </li>
                <li>
                  <a href="#">Open street map</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="header-menu">
            <span>Extra</span>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-book"></i>
              <span>Documentation</span>
              <span class="badge badge-pill badge-primary">Beta</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-calendar"></i>
              <span>Calendar</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-folder"></i>
              <span>Examples</span>
            </a>
          </li>
        </ul>
    <div class="sidebar-footer">
      <a href="#">
        <i class="fa fa-bell"></i>
        <span class="badge badge-pill badge-warning notification">3</span>
      </a>
 
      <a href="#">
        <i class="fa fa-cog"></i>
        <span class="badge-sonar"></span>
      </a>
      <a href='{% url "logout" %}'>
        <i class="fa fa-power-off"></i>
      </a>
    </div>
  </div>
  </div>
</nav>

<body>
 <div class="players">
  <h2>Alumni Tracer | List</h2>
  <div class="header">
    <div class="player-number">ID Number</div>
    <div class="player-name">Name</div>
    <div class="player-city">City</div>
    <div class="player-country">Date Graduate</div>
    <div class="player-value">Department</div>
    <div class="player-stats">Course</div>
  </div>
      {% if user %}
      {% for qs in user %}
  <div class="player">

        <div class="player-number" data-title="Number: ">{{user.id_number }}</div>
        <div class="player-name" data-title="Name: "> 
        {{qs.user.last_name}} {{user.first_name}} </div>
        <div class="player-city" data-title="City: ">{{qs.a_street_adress }}, {{qs.a_address_line_2 }} {{qs.a_city}}</div>
        <div class="player-country" data-title="Country: ">{{qs.date_graduated}}</div>
        <div class="player-value" data-title="Value: ">{{qs.user.department }}</div>
        <div class="player-stats" data-title="Stats: ">1{{qs.user.course }}</div>
  </div>
        {% endfor %}
      {% else %}
        <p>Empty</p>
      {% endif %}  
            
</div>
    </div>
</div>
</body>
</body>
<script src="{% static 'js/alumni.js' %}"></script>
{% include 'snippets/js.html' %}
</html>
 