@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900|Rubik:300,400,500,700,900');

.bbb_advs {
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px
}

.bbb_adv {
    margin-bottom: 20px;
    width: 100%;
    height: 220px;
    border: solid 1px #e8e8e8;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1)
}

.bbb_adv_content {
    padding-left: 30px
}

.bbb_adv_subtitle {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 26px
}

.bbb_adv_title a {
    font-size: 18px;
    font-weight: 500;
    color: #000000
}

.bbb_adv_title a:hover {
    color: #0e8ce4
}

.bbb_adv_title_2 a {
    font-size: 18px;
    font-weight: 500;
    color: #0e8ce4
}

.bbb_adv_title_2 a:hover {
    opacity: 0.8
}

.bbb_adv_text {
    color: #828282;
    margin-top: 10px;
    font-size: 14px
}

.bbb_adv_image {
    width: 168px;
    height: 100%
}

.bbb_adv_image img {
    display: block;
    max-width: 100%
}
 
.button {
  display: inline-block;
  font-size: 1.11em;
  position: relative;
  text-align: center;
  padding: 0.5em 1em;
  background: linear-gradient(45deg, #59adeb, #40c3af);
  color: #fff;
  box-shadow: 0 0.2em 0.2em rgba(0,0,0,0.25);
  border-radius: 0.2em;
  transition: box-shadow 0.2s ease-in-out;
  cursor: pointer;
} 
.button:active {
  background-color: #ccc;
  box-shadow: 0 0 6px rgba(0,121,238,0.6);
  transition: box-shadow 0.1s ease-in-out;
}
.button:after {
  content: "\0021e7";
  position: absolute;
  top: -0.4em;
  left: 0;
  right: 0;
  display: block;
  transform: rotate(180deg);
  font-size: 5em;
  opacity: 0;
  text-shadow: 0 0 1em #000;
  transition: opacity 0.3s ease-in-out, font-size 0.3s ease-in-out, top 0.3s ease-in-out;
  box-sizing: border-box;
  text-align: center;
  color: #fff;
}
.button:active:after {
  font-size: 1em;
  opacity: 1;
  transition: none;
  top: 0.3em;
}
.button:hover {
  box-shadow: 0 0.1em 0.25em rgba(0,0,0,0.25);
}
