.card{
  margin-top: 80px;
  margin-bottom: 50px;
  text-align: center;
  padding-left:10px;
  padding-right:10px;
  padding-bottom:10px;
  border: 1px solid #f2f2f2;
  border-radius: 3px;
  width: 800px;
  text-align: center;
  margin-left: 250px;
  background-color: white;
  height: 900px;
  box-shadow: 1px 0px 10px 1px rgba(0,0,0,0.5);
}
input[type=text], select, textarea {
    width: 60%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 3px;
    resize: vertical;
}
h1{ 
  text-align: left;
  padding: 15px;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #45a049;
}
 
 
input[type=password], select, textarea {
    width: 70%;
    margin: 3px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

button {
	background-color: #4CAF50;
	color: white;
	border-radius: 5px;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	opacity: 0.9;
}

@media (max-width: 1000px){
  .card{
  margin: 0px;
  width: 100%
  left: 0px;a
  right: 0px;
 
  }
  .container input{
    width: 50%;
    height: 10%;
    text-align: left;
  }
  .container input[type=submit]{
 
  }
  .card{
    text-align: left;
    margin-top: 50px;
    width: 100%;
    margin-bottom: 20px;
  }
  .card form{
    margin: 15px;
  }
  .card h1{
    text-align: center;
  }
}