{% load static %}
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
<!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/ie-emulation-modes-warning.js' %}"></script>
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="{% static 'js/holder.min.js' %}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
<!-- back to top -->
<script src="{% static 'js/main.js' %}"></script>
<!-- fade animation -->
<script src="{% static 'js/fade.js' %}"></script>
<!--Dropdown Update Caret-->
<script src="{% static 'js/toggle.js' %}"></script>
<!-- carousel -->
<script src="{% static 'js/carousel.js' %}"></script>
<!-- Metis Menu Plugin JavaScript -->
<script src="{% static 'js/metisMenu.min.js' %}"></script>
<!-- Custom Theme JavaScript -->
<script src="{% static 'js/sb-admin-2.js' %}"></script>
<script src="{% static 'js/form.js' %}"></script>