{% load static %}
<!DOCTYPE html>
<html lang=en>
  <head> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/vnd.microsoft.icon">
    <title>NDMC Library</title>
    {% include 'snippets/css.html'%}
  </head>
  <body>
    <header>
      <!-- Start nav -->
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="">
              <img alt="Brand" src="{% static '/img/favicon.ico' %}">
            </a>
            <a class="navbar-brand navbar-resize" href="{% url 'home' %}">NDMC library</a>
          </div>
          <div id="navbar" class="navbar-collapse navbar-right collapse">
            <ul class="nav navbar-nav">
              <li><a href="{% url 'books:books' %}">Books</a></li>
              <li><a href="{% url 'books:authors' %}">Author</a></li>
              <li><a href="{% url 'books:genres' %}">Genre</a></li>
              {% if user.is_authenticated %}
                {% if request.user.is_staff %}
 
                  <li><a href="{% url 'user:profile' %}" class="user">Reserve wait List</a></li>
                  <li><a href="{% url 'user:borrowed' %}" class="user">Reserved Books</a></li>
                  <li><a href="{% url 'catalog:pdf' %}" class="user">Book Report</a></li>
                  <li><a href='{% url "logout" %}'><span>Logout<span></a></li>
                {% else %}
                  <li><a href='{% url "user:detail" user.email %}' class="user">{{ user.email}}</a></li>
                  <li><a href='{% url "logout" %}'><span>Logout<span></a></li>
                {% endif %}
              {% else %}  
                <button type="button" class="btn btn-sign-in navbar-btn navbar-right btn-layout button" onclick="location.href='{% url "login" %}'" >
                  <span>Sign in</span>
                </button>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    </header>