{% load static %}
<!DOCTYPE html>
<html lang=en>
  <head> 
     {% include 'snippets/css.html'%}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/vnd.microsoft.icon">
    <title>NDMC Archiving</title>
   
  </head>
  <body>
    <header>
      <!-- Start nav -->
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="">
              <img alt="Brand" src="{% static '/img/favicon.ico' %}">
            </a>
            <a class="navbar-brand navbar-resize" href="{% url 'home' %}">NDMC Archiving</a>
          </div>
          <div id="navbar" class="navbar-collapse navbar-right collapse">
            <ul class="nav navbar-nav">
              <li><a href=" ">PDF File</a></li>
              <li><a href=" ">Author</a></li>
              <li><a href=" ">Genre</a></li>       
              {% if user.is_authenticated %}
                {% if request.user.is_staff %}         
                  <li><a href="" class="user">PDF List</a></li>
                  <li><a href=''><span>Logout<span></a></li>
                {% else %}
                  <li><a href=' ' class="user">{{ user.email}}</a></li>
                  <li><a href='{% url "logout" %}'><span>Logout<span></a></li>
                {% endif %}
              {% else %}  
                <button type="button" class="btn btn-sign-in navbar-btn navbar-right btn-layout button" onclick="location.href="" >
                  <span>Sign in</span>
                </button>
                   {% endif %}
       
            </ul>
          </div>
        </div>
      </nav>
    </header>
      <div class="hero">
        <h1><span>“Reading is essential for those who seek to rise above the ordinary.” </span><br>NDMC Archiving</h1>
        <div class="mouse">
          <span></span>
        </div>
      </div>
 
    <footer class="footer-distributed">

      <div class="footer-left">

        <h3>NDMC<span>Archiving</span></h3>

        <p class="footer-links">
          <a href="#">Home</a>
          ·
          <a href="#">Blog</a>
          ·
          <a href="#">Pricing</a>
          ·
          <a href="#">About</a>
          ·
          <a href="#">Faq</a>
          ·
          <a href="#">Contact</a>
        </p>

        <p class="footer-company-name">NDMC Archiving &copy; 2021</p>
      </div>

      <div class="footer-center">

        <div>
          <i class="fa fa-map-marker"></i>
          <p><span>Quezon Avenue </span>Midsayap, Cotabato 9410 </p>
        </div>

        <div>
          <i class="fa fa-phone"></i>
          <p> Phone: (064) 229-8455</p>
        </div>

        <div>
          <i class="fa fa-envelope"></i>
          <p><a href="mailto:support@company.com">Email: info@ndmc.edu.ph</a></p>
        </div>

      </div>

      <div class="footer-right">

        <p class="footer-company-about">
          <span>About Us</span>
          The Notre Dame of Midsayap College, founded in 1941, is the first Notre Dame school in Asia. The name "Notre Dame" was suggested by...
        </p>

        <div class="footer-icons">

          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-github"></i></a>

        </div>

      </div>

    </footer>
    <a href="#0" class="cd-top js-cd-top">Top</a>
    {% include 'snippets/js.html' %}
  </body>
</html>